[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django-cors-headers = "*"
psycopg2 = "*"
boto3 = "*"
requests = "*"
aws-assume-role-lib = "*"
awspricing = "*"
faker = "*"
factory-boy = "*"
django-environ = "*"
pyjwt = "*"
tzdata = "*"
psycopg2-binary = "2.9.3"

[dev-packages]

[requires]
python_version = "3.8.5"
